{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> IE104: {% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{% static 'polls/base.css' %}">
    </head>
 
    <body>
        <div class="topnav">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'index' %}">Polls</a>
            <a href="{% url 'addquestion' %}">Add</a>
            <a>Login</a>
            <a>Help</a>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>